@import "../color_scheme";

.chessboard {
  float: left;
}

.gameControls {
  width: 300px;
  height: 400px;
  margin-left: 50px;
  background-color: $panel-color;
  border-style: solid;
  border-width: 2px;
  float: left;
}

.timer {
  box-sizing: border-box;
  width: 100%;
}
.subTimer {
  background-color: white;
  display: table-cell;
  float: left;
  width: 50%;
}

button#resignBtn {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}