@import "../color_scheme";

body {
  background-image: url("../images/chess_glass.png");
  background-position-y: 20%;
  background-size: cover;
  background-color: #ffffff;
}

.mainPanel {
  width: 40%;
  height: 80vh;
  float: left;
  border-style: solid;
  border-width: 2px;
  background-color: $panel-color;
}

.newGamePanel {
  width: 50%;
  float: right;
  border-style: solid;
  border-width: 2px;
  background-color: $panel-color;
}

button#cancelJoinGameBtn {
  width: 70%;
  height: 50px;
}